<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <clear/>
    <add name="DefaultConnectionDebug"
      connectionString="Data Source=keensdesktop;Initial Catalog=Wordsmith;Integrated Security=False;MultipleActiveResultSets=True;User ID=keen;Password=keen"
      providerName="System.Data.SqlClient"/>
    <add name="DefaultConnection"
      connectionString="Data Source=keensdesktop;Initial Catalog=Wordsmith;Integrated Security=False;MultipleActiveResultSets=True;User ID=keen;Password=keen"
      providerName="System.Data.SqlClient"/>

    <add name="DefaultConnectionwwwDebug"
      connectionString="Data Source=keensdesktop;Initial Catalog=www;Integrated Security=False;MultipleActiveResultSets=True;User ID=keen;Password=keen"
      providerName="System.Data.SqlClient"/>
    <add name="DefaultConnectionwww"
      connectionString="Data Source=keensdesktop;Initial Catalog=www;Integrated Security=False;MultipleActiveResultSets=True;User ID=keen;Password=keen"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>
    <add key="iCount" value="1400"/>
    <add key="email" value="keenanstewart1976@gmail.com"/>
    <add key="pass" value="Malcolm1976!"/>
    <add key="from" value="Wordsmith"/>
    <add key="server" value="i"/>
    <add key="server2" value="p"/>
    <add key="pserver" value="pop.gmail.com"/>
    <add key="iserver" value="imap.gmail.com"/>

    <add key="WordSmithArchive" value="http://wordsmith.org/awad/archives.html"/>
    <add key="WordSmithWordsSite" value="http://wordsmith.org/words/"/>

    <add key="WORD" value="h3"/>
    <add key="WORDADAY" value="WORDADAY: "/>
    <add key="AWORDADAY" value="A.Word.A.Day--"/>
    <add key="WORDADAYTHEME" value="WORKDADAY THEME:"/>
    <add key="PRONOUNCIATION" value="PRONUNCIATION:"/>
    <add key="PRONOUNCIATIN2" value="PRONUNCIATION"/>
    <add key="MEANING" value="MEANING:"/>
    <add key="ETYMOLOGY" value="ETYMOLOGY:"/>
    <add key="USAGE" value="USAGE:"/>
    <add key="THOUGHTDAY" value="A THOUGHT FOR TODAY:"/>
    <add key="XBONUS" value="X-Bonus"/>
    <add key="WEEKSTHEME2" value="Jan 3, 2017"/>
    <add key="WEEKSTHEME3" value="This week’s theme"/>
    <add key="THEME" value="theme"/>
    <add key="THEME2" value="theme:"/>
    <add key="WEEK" value="This week"/>
    
    <!-- Table names -->
    <add key="live" value="test"/>
    <add key="schema" value="Word"/>
    <add key="WordsmithWords" value="WordsmithWords"/>
    <add key="WordsmithThemes" value="WordsmithThemes"/>

    <add key="tblUsers" value="Users"/>
    <add key="passschema" value="Pass"/>
    
    <add key="TestWordsmithWords" value="TestWordsmithWords"/>
    <add key="TestWordsmithThemes" value="TestWordsmithThemes"/>
    
    <!-- Custom sites -->
    <add key="Site2" value="http://wordsmith.org/words/embrocation.html"/>
    <add key="Site3" value="http://wordsmith.org/words/enate.html"/>
    <add key="Site4" value="http://wordsmith.org/words/brahmin.html"/>
    <add key="Site1" value="http://wordsmith.org/words/pergola.html"/>
  </appSettings>
  
  
    <system.web>
      <compilation debug="true" targetFramework="4.0"/>
      <httpModules>
          <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
      </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
            <remove name="ApplicationInsightsWebTracking"/>
            <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
                preCondition="managedHandler"/>
        </modules>
    </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>

        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
